html {
    background-color: rgb(219, 219, 219);
}
.Nav {
    background-color: rgb(219, 219, 219);
    border-bottom: 1px rgba(128, 128, 128, .5) solid;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
}

.home {
    text-decoration: none;
    font-size: 20px;

}

.root {
    min-height: 90vh;
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    border-right: 1px rgba(128, 128, 128, .5) solid;
    border-left: 1px rgba(128, 128, 128, .5) solid;
    border-bottom: 1px rgba(128, 128, 128, .5) solid;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer {
    display: grid;
    text-align: center;
    position: relative;
    bottom: 0px;
    grid-template-rows: 10vh; 
    min-height: 25px;
    margin-top: 20px;
}

a.about { 
    font-size: 20px;
}

a {
    color: rgb(31, 63, 31);
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: black;
    text-shadow: 1px 3px 3px grey;
    transition: .5s;
}

.profile {
    border-radius: 15px;
    transition: .5s;
    border-color: black;
}

.profile:hover {
    box-shadow: 1px 3px 3px grey;
    transition: .5s;
}

button {
    border-radius: 15px;
    border-color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: lightcoral;
    transition: .5s;
}

button:hover {
    box-shadow: 1px 3px 3px grey;
    transition: .5s;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

a, p, h1 {
    font-family: Arial, Helvetica, sans-serif;
}